[Unit]
Description=fil-engine
After=network.target

[Service]
Type=forking
PIDFile=/app/fil-execute-engine/engine.pid
Environment="CURRENT_DIR=/app/fil-execute-engine"
User=root
Group=root
ExecStart=/app/fil-execute-engine/control.sh start
ExecReload=/app/fil-execute-engine/control.sh restart
ExecStop=/app/fil-execute-engine/control.sh stop
RestartSec=100s

[Install]
WantedBy=multi-user.target